/* include in here any stylesheets needed for angular app portion

*= require datetimepicker
*= require_self
*/



body {
  font-family: Arial;
  background-color: #EBF3E4;
}

#navigation a {
  float: right;
}

