= render 'shared/navigation'

%div{'ng-app' => 'angularApp'}
  %div{ng_controller: 'angularAppController'}
    %button{'ng-click' => 'showEventsListing()'}
      Show My Events
    %button{'ng-click' => 'newEvent()'}
      New Event
  %div{'ng-view' => ''}
